{% include 'base.html' %}

{% load static %}

{% comment %} {% block content %} {% endcomment %}

          
<div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> Settings</h4>

        <!-- Basic Layout -->
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Set Expiry Date For Item</h5>
                    {% comment %} <small class="text-muted float-end">Default label</small> {% endcomment %}
                </div>
                <div class="card-body">
                    <h6 class="modal-title" id="modalCenterTitle">System will alert you based on the selection you make</h6>
                    <form method = 'POST' action="{% url 'expiry-setup' %}">
                        {% csrf_token %}
                        <div class="modal-body">
                        <div class="row">
                            <div class="mb-3">
                            <label for="defaultSelect" class="form-label">Select period to expiry</label>
                            <select id="defaultSelect" class="form-select" name = "expiry_alert" required = "true">
                                <option></option>
                                <option value="1">1 month</option>
                                <option value="2">2 months</option>
                                <option value="3">3 months</option>
                                <option value="4">4 months</option>
                                <option value="5">5 months</option>
                                <option value="6">6 months</option>
                                <option value="7">7 months</option>
                                <option value="8">8 months</option>
                                <option value="9">9 months</option>
                                <option value="10">10 months</option>
                                <option value="11">11 months</option>
                                <option value="12">12 months</option>
                            </select>
                            </div>
                        </div> 
                        
                        <div class="modal-footer">
                            <p class="modal-title" id="modalCenterTitle">Current selection: <strong>{{expiry_alert_selected}}</strong></p>
                                <button type="submit" class="btn btn-primary"> Create Alert</button>
                        </div>
                    </div>
                    </form>
                </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Add New Item Class</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="modal-title" id="modalCenterTitle">System will alert you based on the selection you make</h6>
                        <form method = 'POST' action="{% url 'item-class-setup' %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col mb-3">
                                        <label for="nameWithTitle" class="form-label">Item Class</label>
                                        <input
                                        type="text"
                                        id="nameWithTitle"
                                        class="form-control"
                                        name="new_item_class"
                                        required = "true"
                                        />
                                    </div>
                                </div>
                                <div class="modal-footer">        
                                    <button type="submit" class="btn btn-primary" id="showToastPlacement"> Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Set Expiry Date For Item</h5>
                    {% comment %} <small class="text-muted float-end">Default label</small> {% endcomment %}
                </div>
                <div class="card-body">
                    <h6 class="modal-title" id="modalCenterTitle">System will alert you based on the selection you make</h6>
                    <form method = 'POST' action="{% url 'expiry-setup' %}">
                        {% csrf_token %}
                        <div class="modal-body">
                        <div class="row">
                            <div class="mb-3">
                            <label for="defaultSelect" class="form-label">Select period to expiry</label>
                            <select id="defaultSelect" class="form-select" name = "expiry_alert" required = "true">
                                <option></option>
                                <option value="1">1 month</option>
                                <option value="2">2 months</option>
                                <option value="3">3 months</option>
                                <option value="4">4 months</option>
                                <option value="5">5 months</option>
                                <option value="6">6 months</option>
                                <option value="7">7 months</option>
                                <option value="8">8 months</option>
                                <option value="9">9 months</option>
                                <option value="10">10 months</option>
                                <option value="11">11 months</option>
                                <option value="12">12 months</option>
                            </select>
                            </div>
                        </div> 
                        
                        <div class="modal-footer">
                            <p class="modal-title" id="modalCenterTitle">Current selection: <strong>{{expiry_alert_selected}}</strong></p>
                                <button type="submit" class="btn btn-primary"> Create Alert</button>
                        </div>
                    </div>
                    </form>
                </div>
                </div>
            </div>
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Add New Item Class</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="modal-title" id="modalCenterTitle">System will alert you based on the selection you make</h6>
                        <form method = 'POST' action="{% url 'item-class-setup' %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col mb-3">
                                        <label for="nameWithTitle" class="form-label">Item Class</label>
                                        <input
                                        type="text"
                                        id="nameWithTitle"
                                        class="form-control"
                                        name="new_item_class"
                                        required = "true"
                                        />
                                    </div>
                                </div>
                                <div class="modal-footer">        
                                    <button type="submit" class="btn btn-primary" id="showToastPlacement"> Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'footer.html' %}

{% include 'extraCode.html' %}

{% include 'scripts.html' %}
