{% include 'base.html' %}

{% load static %}

{% block content %}

<div class="content-wrapper">
 <!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Stock /</span> All Stock</h4>


  {% comment %} {% for message in messages %}
  <div
    class="bs-toast toast fade show bg-info"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header">
      <i class="bx bx-bell me-2"></i>
      <div class="me-auto fw-semibold">Bootstrap</div>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{message}}
    </div>
  </div>
  {% endfor %} {% endcomment %}

  {% comment %} {% for message in messages %}
  <div class="alert alert-primary alert-dismissible" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %} {% endcomment %}


<div class="card">
  <div class="table-responsive text-nowrap">

      <button type="button" class="btn btn-primary m-4" data-bs-toggle="modal" data-bs-target="#modalAddItem"><b>+</b> Add new item</button>
      <button type="button" class="btn btn-secondary m-2" data-bs-toggle="modal" data-bs-target="#modalAdjustment">Adjust item quantity</button>
      <button type="button" class="btn btn-info m-2" data-bs-toggle="modal" data-bs-target="#modalExpiryAlert">Set Expiry Alert</button>
      <button type="button" class="btn btn-dark m-2" data-bs-toggle="modal" data-bs-target="#modalItemClass">Add item class</button>
      <button type="button" class="btn btn-dark m-2" data-bs-toggle="modal" data-bs-target="#modalSupplier">Add supplier</button>


      <div class="modal fade" id="modalAddItem" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">Add a new item</h5>
              <button
                type="button"
                class="btn-close m-4"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form method = 'POST' action="">
              {% csrf_token %}
              <div class="modal-body">
                  <div class="row">
                    <div class="col mb-3">
                      <label for="nameWithTitle" class="form-label">Name</label>
                      <input
                        type="text"
                        id="nameWithTitle"
                        class="form-control"
                        placeholder="Enter Name"
                        name="name"
                        required = "true"
                      />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="defaultSelect" class="form-label">Select Item Group</label>
                    <select id="defaultSelect" class="form-select" name = "item_group" required = "true">
                      <option>Default select</option>
                      {% for classes in all_drug_class %}
                        <option value="{{ classes.name }}">{{ classes.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="defaultSelect" class="form-label">Select Supplier</label>
                    <select id="defaultSelect" class="form-select" name = "supplier" required = "true">
                      <option>Default select</option>
                      {% for supplier in suppliers %}
                        <option value="{{ supplier.name }}">{{ supplier.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="row">
                    <div class="col mb-3">
                      <label for="nameWithTitle" class="form-label">Maximum Quantity</label>
                      <input
                        type="number"
                        id="nameWithTitle"
                        class="form-control"
                        placeholder="Enter a quantity"
                        name="maximum_quantity"
                        required = "true"
                      />
                    </div>
                    <div class="col mb-3">
                      <label for="nameWithTitle" class="form-label">Reorder Level</label>
                      <input
                        type="number"
                        id="nameWithTitle"
                        class="form-control"
                        placeholder="Enter a quantity"
                        name="reorder_quantity"
                        required = "true"
                      />
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col mb-3">
                      <label for="nameWithTitle" class="form-label">Quantity</label>
                      <input
                        type="number"
                        id="nameWithTitle"
                        class="form-control"
                        placeholder="Enter a quantity"
                        name="quantity"
                      />
                    </div>
                    <div class="col mb-3">
                      <label for="nameWithTitle" class="form-label">Expiry Date</label>
                      <input
                        type="date"
                        id="nameWithTitle"
                        class="form-control"
                        placeholder="select expiry date"
                        name="expiry_date"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col mb-3">
                      <label for="nameWithTitle" class="form-label">Shelf Number</label>
                      <input
                        type="text"
                        id="nameWithTitle"
                        class="form-control"
                        placeholder="Enter shelf number"
                        name="shelf_number"
                      />
                    </div>
                  </div>

                  <div class="form-check form-switch mb-2">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked />
                    <label class="form-check-label" for="flexSwitchCheckChecked"
                      >Active</label
                    >
                  </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary"> Save and add another</button>
                </div>
            </form>
          </div>
        </div>
      </div>


      <div class="modal fade" id="modalAdjustment" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">Adjust Item Quantity</h5>
              <button
                type="button"
                class="btn-close m-4"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form method = 'POST' action="">
              {% csrf_token %}
              <div class="modal-body">
                  <div class="row">
                    <div class="mb-3">
                      <label for="exampleDataList" class="form-label">Search Item</label>
                      <input
                        class="form-control"
                        list="datalistOptions"
                        id="exampleDataList"
                        placeholder="Type to search..."
                        required = "true"
                      />
                      
                      <datalist id="datalistOptions" class = "mb-2">
                        {% for item in stock %}
                        <option class = "mb-2" value="{{ item.name }}">{{ item.name }}</option>
                      {% endfor %}
                      </datalist>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col mb-3">
                      <label for="nameWithTitle" class="form-label">Current Quantity</label>
                      <input
                        type="number"
                        id="nameWithTitle"
                        class="form-control"
                        name="quantity"
                        disabled = "true"
                      />
                    </div>
                    <div class="col mb-3">
                      <label for="nameWithTitle" class="form-label">Set New Quantity</label>
                      <input
                        type="number"
                        id="nameWithTitle"
                        class="form-control"
                        placeholder="Enter a quantity"
                        name="quantity"
                        required = "true"
                      />
                    </div>
                  </div>
                
                  <div class="row">
                    <div>
                      <label for="exampleFormControlTextarea1" class="form-label">Reason for adjustment</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter reason for this adjustment" required = "true"></textarea>
                    </div>
                  </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary"> Save and adjust another</button>
                </div>
            </form>
          </div>
        </div>
      </div>


      <div class="modal fade" id="modalExpiryAlert" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" id="modalCenterTitle">System will alert you based on the selection you make</h6>
              <button
              type="button"
              class="btn-close m-4"
              data-bs-dismiss="modal"
              aria-label="Close"
              ></button>
            </div>
            <form method = 'POST' action="">
              {% csrf_token %}
              <div class="modal-body">
                  <div class="row">
                    <div class="mb-3">
                      <label for="defaultSelect" class="form-label">Select period to expiry</label>
                      <select id="defaultSelect" class="form-select" name = "supplier" required = "true">
                        <option>Default select</option>
                        <option value="1">1 month</option>
                        <option value="2">2 months</option>
                        <option value="3">3 months</option>
                        <option value="4">4 months</option>
                        <option value="5">5 months</option>
                        <option value="6">6 months</option>
                        <option value="7">7 months</option>
                        <option value="8">8 months</option>
                        <option value="9">9 months</option>
                        <option value="10">10 months</option>
                        <option value="11">11 months</option>
                        <option value="12">12 months</option>
                      </select>
                    </div>
                  </div> 
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary"> Create Alert</button>
                </div>
            </form>
          </div>
        </div>
      </div>
      
      
      <div class="modal fade" id="modalItemClass" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">Add New Item Class</h5>
              <button
                type="button"
                class="btn-close m-4"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form method = 'POST' action="">
              {% csrf_token %}
                <div class="modal-body">
                  <div class="row">
                    <div class="col mb-3">
                      <label for="nameWithTitle" class="form-label">Item Class</label>
                      <input
                        type="text"
                        id="nameWithTitle"
                        class="form-control"
                        name="new_item_class"
                        required = "true"
                      />
                    </div>
                  </div>
                  <div class="modal-footer">        
                    <button type="submit" class="btn btn-primary" id="showToastPlacement"> Save</button>
                    <button type="submit" class="btn btn-primary" id="showToastPlacement"> Save and add another</button>                  
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>


      <div class="modal fade" id="modalSupplier" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">Add New Supplier</h5>
              <button
                type="button"
                class="btn-close m-4"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form method = 'POST' action="">
              {% csrf_token %}
              <div class="modal-body">            
                  <div class="row">
                    <div class="col mb-3">
                      <label for="nameWithTitle" class="form-label">Supplier</label>
                      <input
                        type="text"
                        id="nameWithTitle"
                        class="form-control"
                        name="add_supplier"
                        required = "true"
                      />
                    </div>                
                  </div>              
                <div class="modal-footer">
                  
                  <button type="submit" class="btn btn-primary"> Save</button>
                  <button type="submit" class="btn btn-primary"> Save and add another</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>



      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Item Group</th>
            <th>Max Qty</th>
            <th>Reorder Qty </th>
            <th>Shelf No. </th>
            <th>Status</th>
            <th>Created By</th>
            <th>Date Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            {% for row in stock %}

            <tr>
                <td>{{row.name}}</td>
                <td>{{row.item_class}}</td>
                <td>{{row.maximum_quantity}}</td>
                <td>{{row.reorder_quantity}}</td>
                <td>{{row.shelf_number}}</td>
                <td>{{row.status}}</td>
                <td>{{row.created_by}}</td>
                <td>{{row.created_at}}</td>
                <td>
                    <span class = "mr-3">
                    <a href = ""><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href = ""><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </span>
                </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  </div>
  </div>

  <script src="{% static 'assets/js/ui-toasts.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
  <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

  <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
  <script src="{% static 'assets/js/main.js' %}"></script>


  {% endblock %}

  {% include 'footer.html' %}
  <!-- / Footer -->

{% include 'extraCode.html' %}

{% include 'scripts.html' %}
