{% include 'base.html' %}

{% load static %}

{% block content %}

<div class="content-wrapper">
 <!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Stock /</span> All Stock</h4>


  {% comment %} {% for message in messages %}
  <div
    class="bs-toast toast fade show bg-info"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header">
      <i class="bx bx-bell me-2"></i>
      <div class="me-auto fw-semibold">Bootstrap</div>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{message}}
    </div>
  </div>
  {% endfor %} {% endcomment %}

  {% comment %} {% for message in messages %}
  <div class="alert alert-primary alert-dismissible" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %} {% endcomment %}


<div class="card">
  <div class="table-responsive text-nowrap">

      <a href = "{% url 'add-stock' %}" type="button" class="btn btn-primary m-4" ><b>+</b> Add new item</a>
      {% comment %} <a href = "{% url 'item-adjustment' %}" type="button" class="btn btn-secondary m-2">Adjust item quantity</a> {% endcomment %}
      <button type="button" class="btn btn-info m-2" data-bs-toggle="modal" data-bs-target="#modalExpiryAlert">Set Expiry Alert</button>
      <button type="button" class="btn btn-dark m-2" data-bs-toggle="modal" data-bs-target="#modalItemClass">Add item class</button>


      <div class="modal fade" id="modalExpiryAlert" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" id="modalCenterTitle">System will alert you based on the selection you make</h6>
              <button
              type="button"
              class="btn-close m-4"
              data-bs-dismiss="modal"
              aria-label="Close"
              ></button>
            </div>
            <form method = 'POST' action="">
              {% csrf_token %}
              <div class="modal-body">
                <div class="row">
                  <div class="mb-3">
                    <label for="defaultSelect" class="form-label">Select period to expiry</label>
                    <select id="defaultSelect" class="form-select" name = "expiry_alert" required = "true">
                      <option>Default select</option>
                      <option value="1">1 month</option>
                      <option value="2">2 months</option>
                      <option value="3">3 months</option>
                      <option value="4">4 months</option>
                      <option value="5">5 months</option>
                      <option value="6">6 months</option>
                      <option value="7">7 months</option>
                      <option value="8">8 months</option>
                      <option value="9">9 months</option>
                      <option value="10">10 months</option>
                      <option value="11">11 months</option>
                      <option value="12">12 months</option>
                    </select>
                  </div>
                  <p class="modal-title" id="modalCenterTitle">Current selection: <strong>{{expiry_alert_selected}}</strong></p>
                </div> 
                
              </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary"> Create Alert</button>
                </div>
            </form>
          </div>
        </div>
      </div>
      
      
      <div class="modal fade" id="modalItemClass" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">Add New Item Class</h5>
              <button
                type="button"
                class="btn-close m-4"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form method = 'POST' action="">
              {% csrf_token %}
                <div class="modal-body">
                  <div class="row">
                    <div class="col mb-3">
                      <label for="nameWithTitle" class="form-label">Item Class</label>
                      <input
                        type="text"
                        id="nameWithTitle"
                        class="form-control"
                        name="new_item_class"
                        required = "true"
                      />
                    </div>
                  </div>
                  <div class="modal-footer">        
                    <button type="submit" class="btn btn-primary" id="showToastPlacement"> Save</button>
                    {% comment %} <button type="submit" class="btn btn-primary" id="showToastPlacement"> Save and add another</button>                   {% endcomment %}
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>



      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity </th>
            <th>Item Group</th>
            {% comment %} <th>Max Qty</th>
            <th>Reorder Qty </th> {% endcomment %}
            <th>Selling Price </th>
            {% comment %} <th>Cost Price </th> {% endcomment %}
            <th>Expiry Date </th>
            <th>Shelf No. </th>
            {% comment %} <th>Status</th>
            <th>Created By</th>
            <th>Date Created</th> {% endcomment %}
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            {% for row in stock %}

            <tr>
                <td>{{row.name}}</td>
                <td>{{row.quantity}}</td>
                <td>{{row.item_class}}</td>
                {% comment %} <td>{{row.maximum_quantity}}</td> {% endcomment %}
                {% comment %} <td>{{row.reorder_quantity}}</td> {% endcomment %}
                <td>{{row.selling_price}}</td>
                {% comment %} <td>{{row.cost_price}}</td> {% endcomment %}
                <td>{{row.expiry_date}}</td>
                <td>{{row.shelf_number}}</td>
                {% comment %} <td>{{row.status}}</td> {% endcomment %}
                {% comment %} <td>{{row.created_by}}</td> {% endcomment %}
                {% comment %} <td>{{row.created_at}}</td> {% endcomment %}
                <td>
                  <span class = "mr-3">
                    <a href = "{% url 'update-stock' row.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href = "{% url 'delete-stock' row.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  </span>
                </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  </div>
  </div>

  <script src="{% static 'assets/js/ui-toasts.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
  <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
  <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

  <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
  <script src="{% static 'assets/js/main.js' %}"></script>


  {% endblock %}

  {% include 'footer.html' %}
  <!-- / Footer -->

{% include 'extraCode.html' %}

{% include 'scripts.html' %}
