{% include 'base.html' %}

{% load static %}

{% block content %}

<div class="content-wrapper">
 <!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Stock /</span> Update Stock</h4>

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCenterTitle">Update Stock</h5>
                </div>
                <form method = 'POST' action="">
                    {% csrf_token %}
                    <div class="modal-body">

                        <div class="row">
                            <div class="col mb-3">
                              <label for="nameWithTitle" class="form-label">Name</label>
                              <input
                                type="text"
                                id="nameWithTitle"
                                class="form-control"
                                placeholder="Enter item  name"
                                name="item_name"
                                required="true"
                                value = "{{ stock.name }}"
                              />
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="defaultSelect" class="form-label">Select Item Group</label>
                            <select id="defaultSelect" class="form-select" name = "select_item_group" required = "true" value = "{{stock.item_class}}">
                                <option>{{ stock.item_class }}</option>
                                {% for classes in all_drug_class %}
                                <option value="{{ classes.name }}">{{ classes.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="row">
                            <div class="col mb-3">
                                <label for="nameWithTitle" class="form-label">Maximum Quantity</label>
                                <input
                                type="number"
                                id="nameWithTitle"
                                class="form-control"
                                placeholder="Enter a quantity"
                                name="maximum_quantity"
                                required = "true"
                                value = "{{ stock.maximum_quantity }}"
                                />
                            </div>
                            <div class="col mb-3">
                                <label for="nameWithTitle" class="form-label">Reorder Level</label>
                                <input
                                type="number"
                                id="nameWithTitle"
                                class="form-control"
                                placeholder="Enter a quantity"
                                name="reorder_quantity"
                                required = "true"
                                value = "{{ stock.reorder_quantity }}"

                                />
                            </div>
                        </div>
                      
                        <div class="row">
                            <div class="col mb-3">
                                <label for="nameWithTitle" class="form-label">Quantity</label>
                                <input
                                type="number"
                                id="nameWithTitle"
                                class="form-control"
                                placeholder="Enter a quantity"
                                name="item_quantity"
                                value = "{{ stock.quantity }}"

                                />
                            </div>
                            <div class="col mb-3">
                                <label for="nameWithTitle" class="form-label">Expiry Date</label>
                                <input
                                type="date"
                                id="nameWithTitle"
                                class="form-control"
                                {% comment %} placeholder="select expiry date" {% endcomment %}
                                name="expiry_date"
                                value = "{{ stock.expiry_date|date:"Y-m-d" }}"

                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="nameWithTitle" class="form-label">Selling Price</label>
                                <input
                                type="number"
                                id="nameWithTitle"
                                class="form-control"
                                placeholder="selling price"
                                name="selling_price"
                                value = "{{ stock.selling_price }}"

                                />
                            </div>
                            <div class="col mb-3">
                                <label for="nameWithTitle" class="form-label">Cost Price</label>
                                <input
                                type="number"
                                id="nameWithTitle"
                                class="form-control"
                                placeholder="cost price"
                                name="cost_price"
                                value = "{{ stock.cost_price }}"

                                />
                            </div>
                          
                        </div>
      
                        <div class="row">
                          <div class="col mb-3">
                            <label for="nameWithTitle" class="form-label">Shelf Number</label>
                            <input
                              type="text"
                              id="nameWithTitle"
                              class="form-control"
                              placeholder="Enter shelf number"
                              name="shelf_number"
                              value = "{{ stock.shelf_number }}"

                            />
                          </div>
                        </div>
      
                        <div class="mb-3">
                          <label for="defaultSelect" class="form-label">Status</label>
                          <select id="defaultSelect" class="form-select" name = "select_item_status" required = "true" value = "{{ stock.status}}">
                            <option value = "Active">Activate</option>
                            <option value = "Inactive">Disabled</option>Deactivate</option>
                            
                          </select>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        
                        <a href = "{% url 'stock' %}" class="btn btn-outline-dark"> Back to stock</a>
                        <button type="submit" class="btn btn-primary"> Update</button>
                    </div>
                </form>
            </div>
        </div>

  {% endblock %}

  {% include 'footer.html' %}
  <!-- / Footer -->

{% include 'extraCode.html' %}

{% include 'scripts.html' %}
